.loginBtn {
    background-color: gray;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 23%;
}

.loginPage input {
    width: 20%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.loginPage {
    text-align: center;
}

.loginPage > form > button[disabled] {
    opacity: .7;
    cursor: not-allowed;
    background-color: red;
}

.errorColor {
    color: red;
    margin: 0;
}